.center{
    text-align: center;
}

.responsive-image {
    max-width: 1920px; /* or any other value */
    width: 100%;
    height: auto;
}

.responsive-image-tall {
    max-width: 1920px; /* or any other value */
    width: 75%;
    height: auto;
}

.responsive-image-extreme-tall {
    max-width: 1920px; /* or any other value */
    width: 50%;
    height: auto;
}


